<div class="row">
  <app-card class="column">
    Szerelem tüze ég fiatal szivében, Ugy legelteti a nyájt a faluvégen.
    Faluvégen nyája mig szerte legelész, Ő addig subáján a fűben heverész.
    Tenger virág nyílik tarkán körülötte, De ő a virágra szemét nem vetette; Egy
    kőhajtásnyira foly tőle a patak, Bámuló szemei odatapadtanak.
  </app-card>
</div>
<div class="row fixed-width-columns">
  <app-card class="column">
    Szerelem tüze ég fiatal szivében, Ugy legelteti a nyájt a faluvégen.
    Faluvégen nyája mig szerte legelész, Ő addig subáján a fűben heverész.
    Tenger virág nyílik tarkán körülötte, De ő a virágra szemét nem vetette; Egy
    kőhajtásnyira foly tőle a patak, Bámuló szemei odatapadtanak. De nem ám a
    patak csillámló habjára, Hanem a patakban egy szőke kislyányra, A szőke
    kislyánynak karcsu termetére, Szép hosszú hajára, gömbölyű keblére. Kisleány
    szoknyája térdig föl van hajtva, Mivelhogy ruhákat mos a fris patakba';
    Kilátszik a vízből két szép térdecskéje Kukoricza Jancsi gyönyörűségére.
  </app-card>
  <app-card class="column">
    Szerelem tüze ég fiatal szivében, Ugy legelteti a nyájt a faluvégen.
    Faluvégen nyája mig szerte legelész, Ő addig subáján a fűben heverész.
    Tenger virág nyílik tarkán körülötte, De ő a virágra szemét nem vetette; Egy
    kőhajtásnyira foly tőle a patak, Bámuló szemei odatapadtanak. De nem ám a
    patak csillámló habjára, Hanem a patakban egy szőke kislyányra, A szőke
    kislyánynak karcsu termetére, Szép hosszú hajára, gömbölyű keblére.
  </app-card>
  <app-card class="column">
    Szerelem tüze ég fiatal szivében, Ugy legelteti a nyájt a faluvégen.
    Faluvégen nyája mig szerte legelész, Ő addig subáján a fűben heverész.
    Tenger virág nyílik tarkán körülötte, De ő a virágra szemét nem vetette; Egy
    kőhajtásnyira foly tőle a patak, Bámuló szemei odatapadtanak.
  </app-card>
  <app-card class="column">
    Szerelem tüze ég fiatal szivében, Ugy legelteti a nyájt a faluvégen.
    Faluvégen nyája mig szerte legelész, Ő addig subáján a fűben heverész.
  </app-card>
</div>
